.huxiu {
  $bg-out: #343A40;
  $bg-hover: #7B8894;
  $width-icon: 40px;
  position: absolute;
  background-color: $bg-out;
  border-radius: 50px;
  height: $width-icon;
  width: $width-icon;

  &:before {
    content: '';
    height: 40px;
    width: 40px;
    background-color: $bg-hover;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    transform: scale(0);
    transition: .5s cubic-bezier(.3,0,0,1.3);
  }

  &:hover:before {
    transform: scale(1);
    opacity: 1;
  }
  
  $width-qrcode: 134px;
  .app-qrcode {
    opacity: 0;
    position: absolute;
    top: -150px;
    left: - ($width-qrcode - $width-icon) /2;
    transition: all .5s;

    &:after {
      content: '';
      display: block;
      position: absolute;
      border: 8px solid transparent;
      border-top: 10px solid #fff;
      top: 129px;
      left: 57px
    }
  }

  &:hover .app-qrcode {
    opacity: 1;
    top: -140px;
  }
  .icon {
    height: $width-icon;
    width: $width-icon;
    display: inline-block;
    background-image: url(/images/icon.png);
    background-position: 12px -185px;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
    position:relative;
    z-index:1;

    &:hover {
      background-position: 12px -226px;
    }
  }
}
