// bower:scss
// endbower

@import "lattice";
@import "huxiu";
@import "logo";
@import "search";
@import "material";
@import "loading";

$bg-gray: #F8F8F8;
$bg-white: #fff;
$max-width: 1080px;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: $max-width;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  outline:none;
}

.demo {
  position: relative;
  margin: 20px 0;
  background-color: $bg-gray;
  padding: 5px;
  margin: 20px;
  border-radius: 3px;
  float: left;
  box-shadow: 0 0 .5em #5d656c;
  
  &:nth-of-type(2) {
    width: 200px;
    height: 240px;
    
    .huxiu {
      position: absolute;
      bottom: 20%;
      left: 40%;
    }
  }
}
